---
import "../styles/global.css";
import "../styles/page.css";

import Navigation from "../components/Navigation.astro";
import { getCollection } from "astro:content";

const recentPosts = await getCollection("blogs").then((posts) =>
    posts
        .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
        .slice(0, 5)
        .map(({ id, data }) => ({ id, ...data }))
);

const fmtDate = (date: Date) =>
    `${fmtDay(date.getDay())} ${date.getDate()}${ordinalSuffix(date.getDate())} ${fmtMonth(date.getMonth())} ${date.getFullYear()}`;

const fmtDay = (day: number) =>
    [
        "Sunday",
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
    ][day];

const ordinalSuffix = (num: number) => ["st", "nd", "rd"][num] || "th";

const fmtMonth = (month: number) =>
    [
        "January",
        "February",
        "March",
        "April",
        "May",
        "June",
        "July",
        "August",
        "September",
        "October",
        "November",
        "December",
    ][month];
---

<style>
    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0.5rem;
        gap: 2rem;
    }

    li {
        position: relative;
        background-color: var(--secondary-bg);
        box-shadow: 0 0 5px var(--box-shadow);
        border-radius: 0.5rem;
    }

    li > h2 > a::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @media screen and (width > 768px) {
        li {
            display: grid;
            grid-template-rows: auto 1fr;
            grid-template-columns: 1fr auto;
        }

        li > h2 {
            grid-column: 1/2;
            margin: 0 0 1rem 0;
        }

        time {
            grid-column: 2/3;
            margin: unset;
        }

        li > p {
            grid-column: 1/3;
            margin: 0;
        }
    }

    @media screen and (max-width: 768px) {
        li {
            display: flex;
            flex-direction: column;
        }

        /* time::before {content: "Written on "} */
    }

    @media screen and (width > 480px) {
        li {
            padding: 1.5rem 2rem;
        }
    }

    @media screen and (max-width: 480px) {
        li {
            padding: 0 1rem;
        }
    }
</style>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <title>Blog &mdash; Idle Vapourings</title>
    </head>
    <body>
        <Navigation />
        <main>
            <h1>Idle Vapourings</h1>
            <p><i>... of a mind diseased</i></p>
            <h2>Posts</h2>
            <ul>
                {
                    recentPosts.map((post) => (
                        <li>
                            <h2>
                                <a href={`/posts/${post.id}`}>{post.title}</a>
                            </h2>
                            <time datetime={post.pubDate.toISOString()}>
                                {fmtDate(post.pubDate)}
                            </time>
                            <p>{post.description}</p>
                        </li>
                    ))
                }
            </ul>
        </main>
    </body>
</html>
